body {
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.moving-box {
    width: 50px;
    height: 50px;
    right: -60px;
    background-color: #FF00FF;
    position: absolute;
}

.moving-box:hover {
    cursor: pointer;
}

/* increases hit-box */
.moving-box::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    top: -25px;
    left: -25px;
    background-color: rgba(0, 255, 0, 0.2);
}

@keyframes moveAcross {
    from {
        transform: translateX(100vw);
    } to {
        transform: translateX(-110vw);
    }
}