body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.layer {
    position: absolute;
    display: flex;
    width: 3840px; /* 1920 x 2 */
    height: 100%;
    top: 0;
    left: 0;
}

.bg {      
    flex: 0 0 1920px;
    height: 100%;
    background-size: 1920px 100%;
    background-repeat: no-repeat;
}

.layer1 .bg {
    background-image: url("assets/background/layer1.webp");
}

.layer1 {
    animation: scroll 20s linear infinite;
}

.layer2 .bg {
    width: 1920px;
    background-image: url("assets/background/layer2.webp");
}

.layer2 {
    opacity: 0.8;
    animation: scroll 10s linear infinite;
}

.moving-box {
    width: 256px;
    height: 155px;
    background-image: url("assets/sprites/cow-sprites.png");
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
}

.moving-box:hover {
    cursor: pointer;
}

@keyframes moveAcross {
    from {
        transform: translateX(100vw);
    } to {
        transform: translateX(-110vw);
    }
}

@keyframes scroll {
    from {
        transform: translateX(-1920px);
    } to {
        transform: translateX(0);
    }
}

@keyframes sprite-play {
    0% {
        background-position: 0px 0px;
    } 100% {
        background-position: -1024px 0px;
    }
}