body {
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.moving-box {
    width: 50px;
    height: 50px;
    background-color: #FF00FF;
    position: relative;
    animation: moveAcross 5s linear;
}

@keyframes moveAcross {
    from {
        transform: translateX(100vw);
    } to {
        transform: translateX(-100%);
    }
}